<component name="ArtifactManager">
  <artifact type="exploded-war" name="Spring的AOP基本使用:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/SpringAOP_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="Spring的AOP基本使用/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="Spring的AOP基本使用" />
        </element>
      </element>
    </root>
  </artifact>
</component>