<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="textEditor" autowire="byName" class="byName.zidongzhuangpei.TextEditor">
        <property name="name" value="这个是TextEditor的属性"></property>
    </bean>

    <bean id="spellChecker" class="byName.zidongzhuangpei.SpellChecker">

    </bean>

</beans>